name: .github/workflows/mirror.yml

on:
  push:
    branches:
      - '**'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git remote add gitlab https://$GITLAB_USERNAME:${GITLAB_TOKEN}@gitlab.hrz.tu-chemnitz.de/vsr/edu/planspiel/ws2526/technodevelop.git
          git push --mirror gitlab
        env:
          GITLAB_USERNAME: ${{ secrets.GITLAB_USERNAME }}
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
